<head>
<link rel="stylesheet" href="/CSS/header.css">
<title>header</title>
</head>

    <div i="body_content">
        <header id="header">
            <div class="h_cont">
                <ul class="h_menu">
                    <li>
                        {{^sessionMember}}<a href="/member/loginForm">로그인</a>{{/sessionMember}}
                        {{#sessionMember}}<a href="/member/logout">로그아웃</a>{{/sessionMember}}
                    </li>
                    <li>
                        {{^sessionMember}}<a href="">마이페이지</a>{{/sessionMember}}
                        {{#sessionMember}}<a href="">마이페이지</a>{{/sessionMember}}
                    </li>
                </ul>
                <div class="logo">
                    <a>Bareuda</a>
                </div>
                <ul class="h_menu">
                    <li>
                        {{^sessionMember}}<a href="">추천제품</a>{{/sessionMember}}
                        {{#sessionMember}}<a href="">추천제품</a>{{/sessionMember}}
                    </li>
                    <li>
                        {{^sessionMember}}<a href="">제품비교</a>{{/sessionMember}}
                        {{#sessionMember}}<a href="">제품비교</a>{{/sessionMember}}
                    </li>
                    <li>
                        {{^sessionMember}}<a href="">설문조사</a>{{/sessionMember}}
                        {{#sessionMember}}<a href="/baumann/testForm">설문조사</a>{{/sessionMember}}
                    </li>
                    </li>
                </ul>
            </div>
        </header>
    </div>
