{{>layouts/header}}

<form action="/board/create" method="POST">
    <input type="text" name="title">
    <textarea name="content"></textarea>
    <button type="submit">제출</button>
</form>

{{>layouts/footer}}