.container{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10%;
}
.container_1{
    width: 100%;
    height: 90%;
    background-color: white;
    margin-left: 6%;
    margin-top: 1%;

}
.a1{
    width: 24%;
    height: 10%;
    background-color: #A2B7EB;
    border-radius: 86px;
    position: absolute;
    top: 27%;
    left: 14%;
}
.a2{
    width: 10vw;
    height: 7vh;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    top: 74%;
    left: 21%;
}
.a3{
    width: 24vw;
    height: 7vh;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    top: 65%;
    left: 62%;
}
.a4{
    width: 21vw;
    height: 7vh;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    left: 63%;
    top: 27%;
}
.type{
    position: absolute;
    top:41%;
    left: 23%;
    font-size: 3rem;

}
h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 28px;
}
h3{
    text-align: center;
    font-size: 26px;
    color: white;
    padding-top: 21px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li{
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
}
.p1{
    position: absolute;
    top: 54%;
    text-align: center;
    left: 10%;
    font-size: 2rem;
    width: 31%;
    height: 22%;

}
.info{
    position: absolute;
    top: 89%;
    left: 9%;
    width: 35vw;
    height: 12vh;
    border: 2px solid;
    font-size:22px;
}
.container_2{
    width: 100vw;
    height: 90vh;
    background-color: white;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 1%;
}
.containers_2{
    background-color: green;
    width: 100vw;
    height: 100vh;
    display: flex;
    left: 0%;

}
.cotainerWrap{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}

.container1{

    width: 39%;
    height: 70vh;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    margin-top: 14%;
    background-color: white;
    font-size: 2rem;
    display: flex;
    margin-left: 6%;
}
.container2{

    width: 48vw;
    height: 70vh;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-top: 14%;
    background-color: white;
    font-size: 2rem;
    display: flex;
}

.scroll-down{
    z-index: 11;
    position: fixed;
    /* width: 42px;*/
    height: 64px;
    left: 50%;
    transform: translate(0,-50%);
    bottom: 82px;
    border-radius: 50px;
}
.scroll-down::before, .scroll-down::before{
    content: '';
    position: absolute;
    top:20%;
    left: 50%;
    height: 10px;
    /**width: 10px;**/
    transform: translate(0, -50%);/**rotate(45deg);**/
    border-top: transparent;
    border-left: transparent;
    animation: MoveArrow 1s ease-in-out infinite;
}
.scroll-down::after{
    top:30%;
    animation-delay: 0.3s;
}
@keyframes MoveArrow{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%;
    }
}
body{
    overflow-x:hidden ;
    margin: 0px;
}
ul{
    list-style: none;
    margin-left: 10%;
    margin-top: 5%;
}
li{
    float: left;
    margin-left: 7%;
}
.pageTitle2{
    width: 24%;
    height: 11%;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    top: 126%;
    left: 38%;
}


img{
    border-radius: 100%;
    width: 5vw;
    margin-top: 10%;
    margin-left: 23%;
}
.imgbox1{
    width: 10vw;
    height: 51vh;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 7%;
}
.imgbox2{
    width: 10vw;
    height: 52vh;

    margin-top:5%;
}
.conInfo1{

    width: 40vw;
    height: 52vh;
    margin-top: 6%;

}

.conInfo2{

    width: 40vw;
    height: 51vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5%

}
 .conInfo1>p{ padding-top: 0%;
    font-size: 26px;
    margin-top: 10%;
    margin-left: -1%;
    }
.conInfo2>p{
    margin-top: 7%;
    margin-left: -4%;
    font-size: 26px;
    padding-top:3%
}
