body{
display: flex;
}
.container{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10%;
}
.container_1{
      width: 42%;
      height: 90vh;
      background-color: white;
      margin-left: 5%;
      margin-top: 1%;

}
.a1{
    width: 24%;
    height: 10%;
    background-color: #A2B7EB;
    border-radius: 86px;
    position: absolute;
    top: 27%;
    left: 14%;
}
.a2{
    width: 10vw;
    height: 8vh;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    top: 78%;
    left: 21%;
}
.a3{
    width: 24vw;
    height: 8vh;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    top: 65%;
    left: 62%;
}
.a4{
    width: 21vw;
    height: 8vh;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    left: 63%;
    top: 27%;
}
.type{
    position: absolute;
    top:41%;
    left: 22%;
    font-size: 3rem;

}
h1{
    text-align: center;

    color: white;
    padding-top: 28px;
}
h3{
    text-align: center;
    font-size: 26px;
    color: white;
    padding-top: 21px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li{
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
}
.p1{
    position: absolute;
    top: 54%;
    text-align: center;
    left: 10%;
    font-size: 18xp;
    width: 31%;
    height: 22%;

}
#re_type{
 color: #4976e5;
}
#mem_name{
   font-weight: bold;
    color: #4976e5;
    font-size: 22px;
}
#nim{
   font-weight: bold;
   font-size: 22px;
}
#my_type{
    font-weight: bold;
    color: #4976e575;
    font-size: 20px;
}
.info{
    position: absolute;
    top: 92%;
    left: 9%;
    width: 35vw;
    height: 12vh;
    border: 2px solid whitesmoke;
    font-size:22px;
}
.info>ul>li{
      margin-top:-3%;
      margin-left: -5%;
}
.container_2{
    width: 42%;
    height: 90vh;
    background-color: white;
    margin-left: 6%;
    margin-top: 1%;
}
.containers_2{
    background-color: green;
    width: 100vw;
    height: 100vh;
    display: flex;
    left: 0%;

}
.cotainerWrap{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}

.container1{

    width: 39%;
    height: 70vh;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    margin-top: 14%;
    background-color: white;
    font-size: 2rem;
    display: flex;
    margin-left: 6%;
}
.container2{

    width: 48vw;
    height: 70vh;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-top: 14%;
    background-color: white;
    font-size: 2rem;
    display: flex;
}

.scroll-down{
    z-index: 11;
    position: fixed;
    /* width: 42px;*/
    height: 64px;
    left: 50%;
    transform: translate(0,-50%);
    bottom: 82px;
    border-radius: 50px;
}
.scroll-down::before, .scroll-down::before{
    content: '';
    position: absolute;
    top:20%;
    left: 50%;
    height: 10px;
    /**width: 10px;**/
    transform: translate(0, -50%);/**rotate(45deg);**/
    border-top: transparent;
    border-left: transparent;
    animation: MoveArrow 1s ease-in-out infinite;
}
.scroll-down::after{
    top:30%;
    animation-delay: 0.3s;
}
@keyframes MoveArrow{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%;
    }
}
/** 그래프 타입**/
.grphType1{
    width: 46px;
    height: 42px;
    border-radius: 100%;
    position: absolute;
    top: 41%;
    left: 54%;
     background-color: #a2b7ebbd;
 color: white;
}
.grphType1>h2{
   padding-left: 11px;
   font-size: 29px;
}
.grphType2{
    width: 46px;
    height: 42px;
    border-radius: 100%;
    position: absolute;
    top: 46%;
    left: 54%;
    background-color: #7a97e3a8;
    color: white;
}
.grphType2>h2{
   padding-left: 14px;
    font-size: 29px;
}

.grphType3{
   width: 46px;
    height: 42px;
    border-radius: 100%;
    position: absolute;
    top: 51%;
    left: 54%;
    background-color: #2555d173;
    color: white;
}

.grphType3>h2{
    padding-left: 11px;
    font-size: 29px;
}
.grphType4{
   width: 46px;
    height: 42px;
    border-radius: 100%;
    position: absolute;
    top: 56%;
     left: 54%;
    background-color: #bacaf0e3;
    color: white;
}
.grphType4>h2{
   padding-left: 8px;
   font-size: 29px;
}

/** 나의 피부 타입 **/
.myTypeImg{

}
.myTypeImg>ul>li{
  float:left;
}
.myTypeImg>ul>li>img{
    margin-top: 542%;
    margin-left: -39%;
}
.skinType1{
    width: 56px;
    height: 54px;

    border-radius: 100%;
    background-color: #a2b7ebbd;
    position: absolute;
    top: 93%;
    left:59%;
    color: white;
}
.skinType1>h2{
     padding-left: 14px;
     font-size: 36px;
}
.skinType2{
      width: 56px;
      height: 54px;
      border-radius: 100%;
      background-color: #7a97e3a8;
      position: absolute;
      top: 93%;
      left:67%;
      color: white;
}
.skinType2>h2{
   padding-left: 16px;
    font-size: 36px;
}
.myTypeImg1{

}
.myTypeImg1>ul>li{
  float:left;
}
.myTypeImg1>ul>li>img{
   margin-top: 542%;
   margin-left: -41%;
}
.skinType3{
      width: 56px;
      height: 54px;
      border-radius: 100%;
      background-color:#2555d173;
      position: absolute;
      top: 93%;
      left:76%;
      color: white;
}
.skinType3>h2{
    padding-left: 13px;
    font-size: 36px;
}
.skinType4{
    width: 56px;
    height: 54px;
    border-radius: 100%;
    background-color: #bacaf0e3;
    position: absolute;
    top: 93%;
    left: 84%;
    color: white;
}
.skinType4>h2{
   padding-left: 10px;
    font-size: 36px;
}
/** 2page **/
body{
    overflow-x:hidden ;
    margin: 0px;
}
ul{
    list-style: none;
    margin-left: 10%;
    margin-top: 5%;
}
li{
    float: left;
    margin-left: 7%;
}
.pageTitle2{
    width: 24%;
    height: 11%;
    background-color: #A2B7EB;
    border-radius: 20px;
    position: absolute;
    top: 123%;
    left: 38%;
}


img{
    border-radius: 100%;
    width: 5vw;
    margin-top: 10%;
    margin-left: 23%;
}
.imgbox1{
    width: 10vw;
    height: 51vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 9%;
}
.imgbox2{
    width: 10vw;
    height: 52vh;
    margin-top:7%;
}
.conInfo1{

    width: 40vw;
    height: 52vh;
    margin-top: 6%;

}

.conInfo2{

    width: 40vw;
    height: 51vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5%

}
.conInfo1>p{
    padding-top: 0%;
    font-size: 26px;
    margin-top: 8%;
    margin-left: -1%;
}
.conInfo2>p{
    margin-top: 6%;
    margin-left: -4%;
    font-size: 26px;
    padding-top:3%
}
.graph{
    background: #CCCCCC2B;
    height: 40px;
    border-radius: 40px;
    margin: 2px 2px 6px;
}
.graph span {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: right;
    border-radius: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;
}
.graph.stack1 span{
    animation: stack 2s 1;
    background:rgb(187 203 240 / 50%);}
.graph.stack2 span{
    animation: stack2 2s 1;
    background:rgb(167 186 237);}
.graph.stack3 span{
    animation: stack3 2s 1;
    background:rgb(157 178 234 / 68%);}
.graph.stack4 span{
    animation: stack4 2s 1;
    background:rgb(167 188 237 / 81%);}
.graph_containers{
    position: absolute;
    width: 37%;
    height: 4vh;
    top: 41%;
    left: 55%;}
@keyframes stack{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}

}
@keyframes stack2{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}

}
@keyframes stack3{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}

}
@keyframes stack4{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}

}
.end{
       text-align: center;
        width: 100%;
        height: 50px;
        position: absolute;

}
