.graph{
    background: #CCCCCC2B;
    height: 40px;
    border-radius: 40px;
    margin: 2px 2px 6px;
}
.graph span {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: right;
    border-radius: 40px;
    padding: 0 10px;
    box-sizing:  border-box;
    color: #fff;

}
.graph.stack1 span{
    animation: stack 1s;
    background:rgb(187 203 240 / 50%);
}
.graph.stack2 span{
    animation: stack2 1s;
    background:rgb(167 186 237);}
.graph.stack3 span{
    animation: stack3 1s;
    background:rgb(157 178 234 / 68%);}
.graph.stack4 span{
    animation: stack4 1s;
    background:rgb(167 188 237 / 81%);}
.graph_containers{
     position: absolute;
     width: 35%;
     height: 4vh;
     top: 41%;
     left: 57%;
}
@keyframes stack{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}
}
@keyframes stack2{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}
}
@keyframes stack3{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}
}
@keyframes stack4{
    0%{ width: 0;
        color: rgba(187,203,240, 0.5);}
    40%{color: rgba(240, 239, 239, 0.5);}
}

