@charset "EUC-KR";
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container1{
    position:absolute;
    top: 20%;
    /* border: solid black 3px; */
    width: 100%;
    height: 1020px;
}

#content1{
    width: 70%;
    height: 70%;
    /* border: solid gray 3px; */
    margin-left: 16%;
}

.prd{
    width: 90%;
    height: 90%;
    /* border: solid palevioletred 2px; */
    margin-left: 5%;
    margin-top: 5%;
}

.prd_img{
    border: 2px rgb(51, 150, 207);
    margin-top: 10%;
    height: 71%;
    width: 35.2%;
    /* border: 1px solid rgb(105, 105, 107); */
    display: flex;
    margin-left: 5%;
}

.prd_detail {
    margin-left: 48%;
    margin-top: -32%;
    width: 50%;
    height: 100%;
}
.p_brand{
    /* font-family: 'GothicA1-Regular'; */
    color: #807D7D;
    margin-bottom: 4%;
    font-size: 22px;
}

.p_name{
    /* font-family: 'GothicA1-Regular'; */
    margin-bottom: 8%;
    font-size: 21px;
}

.p_price{
    /* font-family: 'GothicA1-Regular'; */
    font-size: 25px;
    color: #A2B7EB;
    font-style: normal;
}

.p_use{
    /* font-family: 'GothicA1-Regular'; */
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-top :5%
}

#content1 > div > div.prd_detail > div.p_use > p:nth-child(1){
    margin-bottom: 3%;
}

.c_type{
    height: 35px;
    width: 80px;
    font-size: 1rem;
    margin-left: 18%;
    margin-top: -5.5%;
    border-radius: 60px;
    background-color: #A2B7EB;
    color: white;
}

#content1 > div > div.prd_detail > div.c_type > p > span{
    margin-top: 7%;
    margin-left: 18%;
}

/* 하트 버튼 */

.heart-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* width: 10%; */
    /* height: 11%; */
    margin-left: 30%;
    margin-top:0.8%;
}
  .heart-like-button {
    position: relative;
    /* width: 50px; */
    /* height: 50px; */
    z-index: 10;
    margin-right: 90%;
    margin-top: -20%;
  }
  .heart-like-button:before {
    position: absolute;
    top: 0;
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 20px;
    height: 35px;
    border-radius: 40px 40px 0 0;
    background-color: #8f8888;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

  .heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    width: 20px;
    height: 35px;
    border-radius: 40px 40px 0 0;
    background-color:  #8f8888;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

  .heart-like-button.liked::before,
  .heart-like-button.liked::after {
    background-color: #f38b8b;
  }
  .heart-like-button.liked {
    animation: liked .4s ease;
  }
  @keyframes liked {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @media screen and (max-width: 480px) {
    #container {
      height: auto;
    }
    h1 {
      font-size: 2.5rem;
    }
  }

  #content1 > div > div.prd_detail > hr{
      margin-top: 2%;
  }

#content_all{
  height: 2050px;
  width: 75%;
  background-color: white;
  margin-left: 12.5%;
}


/* content2 */

#content2{
  width: 80%;
  height: 1020px;
}


.user_type1{
  margin-right: 10%;
}

#content2 > div > div > div.user_txt {
  width: 280px;
    height: 40px;
    margin-left: 165px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    float: left;
    white-space: nowrap;
}

#content2 > div > div > div.user_txt > div.user_txt_2{
  font-size: 29px;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 5%;
  color: #154183;;
}

#content2 > div > div > div.user_txt > div.user_txt_3{
  margin-top: 10%;
  margin-left: 10%;
  font-size: 21px;
}

#myChart{
  margin-top: 200px;
  margin-left: 80px;
  position: absolute;
  height: 300px;
  width: 350px;
}
/* 사용자 피부타입 아이콘 */

.user_type2{
  margin-left: 180px;
    width: 60%;
    height: 100%;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    margin-left: 630px;
    margin-top: 180px;
}


.user_icon{
  width: 160px;
    height: 230px;
    background-color: rgba(168, 209, 245, 0.158);
    border: 0.08px black solid;
    display: flex;
    align-items: center;
    margin-left: 0.6%;
    border-radius: 30px;
    margin-top: -250px;
}

.i_img{
  display: flex;
    height: 60%;
    width: 60%;
    margin-top: -40px;
    margin-left: 6%;
}

.i_txt{
  width: 150px;
    height: 50px;
    margin-top: 175px;
    margin-left: -100px;
}
.i_type{
  display: flex;
  writing-mode: horizontal-tb;
  justify-content : center;
}

.i_percent{
  display: flex;
  justify-content : center;
  font-size: 17px;
}

/* 피부타입, 피부고민, 자극도 */
.user_type3{
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 6%;
    margin-left: 17%;
}

.skin_type{
  margin-right: 5%;
}

.skin_type_title{
  width: 300px;
    height: 10%;
    background-color: #74acff;
    border-radius: 3px;
    /* margin-right: 10%; */
    border-radius: 10px;
    /* align-items: center; */
    /* text-align: center; */
    margin-left: 10%;
}

.type_txt{
  font-size: 21px;
  text-align: center;
  padding-top: 5%;
  color: white;
}

/* 그래프 */
.user_radar{
  width: 320px;
  height: 320px;
  margin-left: 150px;
  margin-top: -15px;
}

.user_doughnut{
  width: 320px;
    height: 320px;
    margin-top: 50px;
    margin-left: 25px;
}

/* 상세페이지3 */

#content3{
  width: 80%;
  height: 1020px;
  margin-top: 5%;
}

.review_container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1020px;
}

.r_percentage{
  width: 350px;
  height: 350px;
  margin-left: 7%;
  margin-top: 3%;
}

.keyword_container{
  width: 100px;
  height: 100px;
  display: flex;
  margin-right: -200px;
  margin-left: 40px;
}

.keyword_box{
  margin-left: 50px;
}

.keyword_title{
  text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #474444;
}

/* 워드 클라우드 */
.cloud_container{
  width: 900px;
  height: 400px;
  display: flex;
  margin-top: 38%;
  margin-left: -25%;
}

.word_cloud{
  width: 50%;
  height: 100%;
  padding-right: 150px;

}

.line1{
 margin-left: 50px;
 width: 530px;

}

.line2{
  margin-left: 40px;
  width: 530px;

 }

.word_txt{
  margin-left: 35%;
  text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 600;
    color: #474444;
}

#myChart8{
  width: 600px;
  height: 380px;
  margin-top: 10px;
}

#myChart9{
  width:600px;
  height: 380px;
  margin-top: 10px;
}

#myChart5{
  width: 250px;
  height: 250px;
}