
.containers1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    margin-top: 5%;
}
.container_1{

    margin-left: 6%;
    width: 34%;
    height: 99%;
    background-color: white;
}
.container_2 {
    width: 20%;
    height: 99%;
    background-color: white;

}
.a2{
    background-color: #A2B7EB;
    width: 78%;
    height: 6%;
    border-radius: 20px;
    margin-top: 38%;
    text-align: center;
    margin-left: 13%;
}
.a2>h3{
    color: white;
    font-size: 26px;
    padding-top: 3%;
}
.a3{
    background-color: #A2B7EB;
    width: 78%;
    height: 6%;
    border-radius: 20px;
    margin-top: 97%;
    text-align: center;
    margin-left: 13%;
}
.a3>h3{
    color: white;
    font-size: 26px;
    padding-top: 3%;
}
.container_3 {
    width: 34%;
    height: 99%;
    background-color: white;
}
.myChart{
    margin-top: -23%;
    position: relative;
    width: 390%;
    margin-left: -138%;
}
.myPie{
    margin-top: 19%;
}
.myChart1{
      margin-top: -23%;
      position: relative;
      width: 390%;
      margin-left: -138%;
}
.myPie1{
    margin-top: 19%;
}
#myChart{
    margin-top: 10%;
}
#myPie{
    margin-top: 19%;
}
#myChart1{
    margin-top: 10%;
}
#myPie1{
    margin-top: 19%;
}