.containers2 {
     display: flex;
     width: 100vw;
     height: 100vh;
     margin-top:4%;
     background-color: orange;

}
.container_4{
    margin-left: 6%;
    width: 44%;
    height: 100%;
    background-color: white;
}
.chart-area{
    width: 82%;
    height: 60%;
    margin-top: 38%;
    margin-left: 10%;
    border: 2px solid;
}

.a4{
     width: 12%;
     height: 4%;
     position: absolute;
     border-radius: 4%;
     left: 23%;
     top: 243%;
     background-color: #A2B7EB;
     padding-left: 1%;
     padding-top: 1%;
     font-size: 16px;
     color: white;
}
.a5{
       width: 12%;
       height: 4%;
       position: absolute;
       border-radius: 4%;
       left: 65%;
       top: 243%;
       background-color: #A2B7EB;
           padding-left: 1%;
           padding-top: 1%;
           font-size: 16px;
           color: white;
}
.container_6 {
    width: 44%;
    height: 100%;
    background-color: white;

}
.chart-area2{
    width: 82%;
    height: 60%;
    margin-top: 38%;
    margin-left: 8%;
     border: 2px solid;
}

