body{
  margin: 0;
}
.containers {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: green;

}
.container1 {
    margin-top: 8%;
    margin-left: 6%;
    width: 34%;
    height: 84%;
    background-color: orange;
}
.research1>input:focus{
   outline: 2px solid #E5E5E5;
}
.research1>input:hover{
   transition: 0.5s;
}
.research1>input{
   width: 11vw;
   height: 3vh;
   font-size: 18px;
   border:none;
   border-radius: 11px;
   text-align: center;
}
.research1{
    position: absolute;
    top: 8%;
    left: 18%;
}
.img1{
    width: 55%;
    height: 50%;
    border: 2px solid;
    margin-top: 32%;
    margin-left: 23%;
}
.ch_Product1{
     width: 55%;
     height: 10%;
     border: 2px solid;
     margin-left: 23%;
     text-align: center;
}
ul>li{
  list-style: none;

}
.container2 {
    width: 20%;
    height: 84%;
    background-color: yellow;
    margin-top: 8%;
}
.a1{
    background-color: #A2B7EB;
    width: 78%;
    height: 6%;
    border-radius: 20px;
    margin-top: 7%;
    text-align: center;
    margin-left: 13%;
}
.a1>h3{
    color: white;
    font-size: 26px;
    padding-top: 3%;
}
.btn_area1{
    margin-top: 21%;
    margin-left: 21%;
 }

#btnComparison{
    width: 6%;
    height: 2%;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #A2B7EB;
    font-size: 34px;
    font-weight: bold;
    border-radius: 8px;
    font-family: 'IBMPlexSansKR-Bold';
    margin-left: 70px;
    position: absolute;
}

#btnComparison div{
    text-align:center;
    margin-top: 3%;
}

#btnComparison:hover{
    opacity: 0.5;
  transition: 0.5s;
}

.container3 {
    width: 34%;
    height: 84%;
    background-color: yellowgreen;
    margin-top: 8%;

}
.research2{
    position: absolute;
    top: 8%;
    left: 72%;
}
.img2{
    width: 55%;
    height: 50%;
    border: 2px solid;
    margin-top: 32%;
    margin-left: 23%;

}
.ch_Product2{
     width: 55%;
     height: 10%;
     border: 2px solid;
     margin-left: 23%;
     text-align: center;
}
.research2>input{
   width: 11vw;
   height: 3vh;
   font-size: 18px;
   border:none;
   border-radius: 11px;
   text-align: center;
}
.research2>input:focus{
   outline: 2px solid #E5E5E5;
}
