<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/baumannTest.css">

{{>layouts/header}}
<!-- 바우만테스트 form 작성시 주의사항
action="/member/baumanTest"
name="part1[0]" (파트1의 첫번째 질문!)
name="part2[0]" 이런 식으로
value는 점수 넣기!
-->
    <form action="/baumann/test" method="POST">
        <input type="hidden" name="part_num" value="3">
        <div id="b_content">
            <div id="b_wrapper">
                <div id="part">
                    <h1>part3</h1>
                </div>
                <div class="wrapper_section">
                    <div class="section">
                        <div class="title"><strong>
                            1.무언가에 베이거나 상처가 생기고 난 후, 어둡거나 붉은 기가 얼마나 오래도록 남아있습니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[0]" value="6">없거나 본 적 없습니다.</label></div>
                            <div><label><input type="radio" name="part[0]" value="13">1주 정도 남아있습니다.</label></div>
                            <div><label><input type="radio" name="part[0]" value="19">몇 주 정도 남아있습니다.</label></div>
                            <div><label><input type="radio" name="part[0]" value="25">여러 달 남아있습니다.</label></div>
                            <!-- <label><input type="checkbox" name="option" value="2"> </label> -->
                        </div>
                    </div>
                    <div class="section">
                        <div class="title"><strong>
                            2. 햇빛을 오래 쬐면 피부 위에 있는 어두운 부분들이 더 심해집니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[1]" value="6">어두운 패치 부위가 없습니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="13">잘 모르겠습니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="19">약간 심해집니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="25">많이 심해집니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="15">선크림을 매일 바르고 가급적 햇빛을 보지 않습니다(그 이유
                                가 위의 현상 때문이라면 4번을 체크해주세요).</label></div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="title"><strong>
                            3. 얼굴, 가슴, 등 또는 팔에 작은 갈색의 스팟들을 가지고 있거나 가졌던 적이 있습니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[2]" value="6">없습니다.</label></div>
                            <div><label><input type="radio" name="part[2]" value="13">약간 있습니다(1~5개).</label></div>
                            <div><label><input type="radio" name="part[2]" value="19">많이 있습니다(6~15개).</label></div>
                            <div><label><input type="radio" name="part[2]" value="25">엄청 많습니다(16 이상)</label></div>
                        </div>
                    </div>
                    <!-- <div id="section_4">
                        <div id="button_4"><button>제출하기</button></div>
                    </div> -->
                    <div class="section">
                        <div class="title"><strong>
                            4. 몇 일 동안 지속적으로 햇볕을 본다면 무슨 일이 일어납니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[3]" value="6">선번과 물집이 나타나나 피부 색은 변화하지 않습니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="13">피부가 좀 더 어두워집니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="19">피부가 많이 어두워집니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="25">피부가 이미 검은 편입니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="15">잘 모르겠습니다.</label></div>
                        </div>
                    </div>

                    <div class="b_section">
                        <button type="submit" onclick="reload" id="btnSubmit">
                            <div><strong>NEXT</strong></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{>layouts/footer}}