<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/baumannResult.css">
    <link rel="stylesheet" href="/css/graph.css">

<!-- CSS -->

{{>layouts/header}}

<!-- content -->

    <div class="container">
        <div class="container_1">
            <div>
                <div class="a1">
                    <h1> 분석 안내표 </h1>
                </div>
                <div class="type"><strong>{{answer.mb_result}}</strong></div>
                <div>
                    <span class="p1">
                        <strong>{{sessionMember.mb_name}}님</strong> <br>
                        {{answer.mb_result}} 피부타입으로 {{result.result_comment}}
                    </span>
                    <div>
                        <div class="a2">
                            <h3>추천 성분</h3>
                        </div>
                        <div class="info">
                            <ul>
                                <li>{{Ingredients}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


        </div class="scroll-down">
        <div class="container_2">
            <div class="a3">
                <h3>바우만 설문 조사 피부 타입</h3>
            </div>
            <div class="graph_containers">
                <div class="graph stack1">
                    <span style="width: {{answer.a_part1}}%;">{{answer.a_part1}}</span>
                </div>
                <div class="graph stack2">
                    <span style="width: {{answer.a_part2}}%;">{{answer.a_part2}}</span>
                </div>
                <div class="graph stack3">
                    <span style="width: {{answer.a_part3}}%;">{{answer.a_part3}}</span>
                </div>
                <div class="graph stack4">
                    <span style="width: {{answer.a_part4}}%;">{{answer.a_part4}}</span>
                </div>
            </div>
            <div class="a4">
                <h3>모든 피부타입별 분포도</h3>
            </div>
            <div>

            </div>

        </div>
    </div>
    </div>


    <div class="containers_2">

        <div class="pageTitle2">
            <h1>피부 타입 안내</h1>
        </div>
        <div class="cotainerWrap">
            <div class="container1">
                <div class="imgbox1">
                    <img src="/img/Oily.png" alt="">
                    <img src="/img/Dry.png" alt="">
                    <img src="/img/Non_Pigment.png" alt="">
                    <img src="/img/Pigment.png" alt="">

                </div>
                <div class="conInfo1">
                    <p>Oily(지성)피지 분비량이 많아 번들거리고 여드름이 자주 생기는 타입</p>
                    <p>Dry(건성)피지 분비량과 수분 보유량 모두 적어 거칠고 각질과 주름이 잘 생기는 타입</p>
                    <p>Non-Pigment(비색소성)메라린 활성도가 낮아 눈에 보이는 색소가 적은 타입</p>
                    <p>Pigment(색소성)멜라닌 활성도가 높아 기미, 주근깨 혹은 잡티 등 본이는 색소가 많은 타입</p>
                </div>
            </div>
            <div class="container2">
                <div class="imgbox2">
                    <img src="/img/Wrinkle.png" alt="">
                    <img src="/img/Tight.png" alt="">
                    <img src="/img/Resistant.png" alt="">
                    <img src="/img/Sensitive.png" alt="">
                </div>
                <div class="conInfo2">
                    <p>Wrinkle(주름)피부 결이 고르지 않고 주름이 많은 타입</p>
                    <p>Tight(탄력성)피부 결이 고르고 주름이 적어 탄력이 있는 타입</p>
                    <p>Resistant(저항성)피부 장벽이 견고해 외부적인 스트레스에 대해 견디는 힘이 강한 타입</p>
                    <p>Sensitive(민감성)피부가 얇고 섬세해 외부 자극에 쉽게 반응하는 타입</p>
                </div>
            </div>
        </div>
    </div>
<!-- /content -->
{{>layouts/footer}}

</body>
<footer>

</footer>
</html>