<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/baumannTest.css">

{{>layouts/header}}
<!-- 바우만테스트 form 작성시 주의사항
action="/member/baumanTest"
name="part1[0]" (파트1의 첫번째 질문!)
name="part2[0]" 이런 식으로
value는 점수 넣기!
-->
    <form action="/baumann/test" method="POST">
        <input type="hidden" name="part_num" value="3">
        <div id="b_content">
            <div id="b_wrapper">
                <div id="part">
                    <h1>part3</h1>
                </div>
                <div class="wrapper_section">
                    <div class="section">
                        <div class="title"><strong>
                            1.클렌징 후에 아무것도 바르지 않고 2~3시간 후에 밝은 빛 아래서 거울을 보세요.
                            이마와 볼이 어떻게 보이고 느껴집니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[0]" value="1">매우 거칠고, 버석거리고 각질이 들떠 보입니다.</label></div>
                            <div><label><input type="radio" name="part[0]" value="2">당깁니다.</label></div>
                            <div><label><input type="radio" name="part[0]" value="3">당기지 않고 건조해 보이지 않고 번들거리지 않습니다.</label></div>
                            <div><label><input type="radio" name="part[0]" value="4">밝은 빛에 반사되는 듯이 번들거립니다.</label></div>
                            <!-- <label><input type="checkbox" name="option" value="2"> </label> -->
                        </div>
                    </div>
                    <div class="section">
                        <div class="title"><strong>
                            2. 사진을 찍었을 때, 피부가 번들거립니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[1]" value="1">매우 거칠고, 버석거리고 각질이 들떠 보입니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="2">당깁니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="3">당기지 않고 건조해 보이지 않고 번들거리지 않습니다.</label></div>
                            <div><label><input type="radio" name="part[1]" value="4">밝은 빛에 반사되는 듯이 번들거립니다.</label></div>
                            <!-- <label><input type="checkbox" name="option" value="2"> 당깁니다.</label> -->
                        </div>
                    </div>
                    <div class="section">
                        <div class="title"><strong>
                            3. 메이크업 파운데이션(파우더는 안 바른 상태)을 바른 지 2~3
                            시간 후에 메이크업 상태가 어떻습니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[2]" value="1">매우 거칠고, 버석거리고 각질이 들떠 보입니다.</label></div>
                            <div><label><input type="radio" name="part[2]" value="2">당깁니다.</label></div>
                            <div><label><input type="radio" name="part[2]" value="3">당기지 않고 건조해 보이지 않고 번들거리지 않습니다.</label></div>
                            <div><label><input type="radio" name="part[2]" value="4">밝은 빛에 반사되는 듯이 번들거립니다.</label></div>
                        </div>
                    </div>
                    <!-- <div id="section_4">
                        <div id="button_4"><button>제출하기</button></div>
                    </div> -->
                    <div class="section">
                        <div class="title"><strong>
                            4. 메이크업 파운데이션(파우더는 안 바른 상태)을 바른 지 2~3
                            시간 후에 메이크업 상태가 어떻습니까?</strong>
                        </div>
                        <div class="option">
                            <div><label><input type="radio" name="part[3]" value="1">매우 거칠고, 버석거리고 각질이 들떠 보입니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="2">당깁니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="3">당기지 않고 건조해 보이지 않고 번들거리지 않습니다.</label></div>
                            <div><label><input type="radio" name="part[3]" value="4">밝은 빛에 반사되는 듯이 번들거립니다.</label></div>
                        </div>
                    </div>

                    <div class="b_section">
                        <button type="submit" onclick="reload" id="btnSubmit">
                            <div><strong>NEXT</strong></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{>layouts/footer}}