<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{^sessionMember}} sessionedUser가 없다면 이 코드 블록이 보여진다. {{/sessionMember}}
<br>
{{#sessionMember}} sessionedUser가 있다면 이 코드 블록이 보여진다 {{/sessionMember}}
</body>
</html>