<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/CSS/index.css">
</head>
    <!-- CSS -->
    {{>layouts/header}}
    <!-- content -->
    <div id="wrapper">
    <div id="wrapper_content">
        <div><p>나만의 스킨케어</p></div>
        <div><p>피부에 따라 필요한 정보는 다르니까</p></div>
    </div>
    </div>
    <!-- /content -->
    {{>layouts/footer}}
    </div>
</body>
</html>