<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <!-- CSS -->
    {{>layouts/header}}
    <!-- content -->
    <div id="body_wrapper">
    <h1>{{name}}님 반갑소연.</h1>
    <!-- /content -->
    {{>layouts/footer}}
    </div>
</body>
</html>