<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/likeProducts.css">
    <!-- CSS -->

    {{>layouts/header}}
    <!-- /content -->
    <div class="containers">
        <div class="container1">
            <div>
                <div class="box1">
                    <div class="boxLeft">
                        <ul>
                            <li><a href="#myPage" id="myPage"> My Page</a></li>
                            <li><a href="#likeProducts" id="likeProducts">좋아요 제품</a></li>
                            <li><a href="#memberRemove">회원 탈퇴</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container2">
           <div class="productsList">

           </div>
        </div>
    </div>
    <!-- /content -->
    {{>layouts/footer}}
    </body>
</html>
