<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/likeProducts.css">
    <!-- CSS -->

    {{>layouts/header}}
    <!-- /content -->
    <div class="containers">
        <div class="container1">
            <div>
                <div class="box1">
                    <div class="boxLeft">
                        <ul>
                            <li><a href="/mypage/result" id="myPage"> My Page</a></li>
                            <li><a href="" id="likeProducts">좋아요 제품</a></li>
                            <li><a href="/mypage/removeForm">회원 탈퇴</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container2">
           <div class="productsList">
             <div class="proWrap">
                    {{#list}}
                   <span> <a href="/product/detail.do?p_id={{p_id}}"><img src="/img/products/{{p_img}}" alt="제품 이미지"></a>
                   </span>
                       <div class="likeInfo">
                        <ul>
                            <li><span class="p_brand2">{{p_brand}}</span></li>
                            <li><span class="p_name2">{{p_name}}</span></li>
                            <li><span class="p_price2">{{p_price}}</span><strong>원</strong></li>
                        </ul>
                       </div>
                    {{/list}}
             </div>
           </div>
        </div>
    </div>
    {{>layouts/footer}}

