{{>layouts/header}}

<form action="/member/create" method="POST">
    <input type="text" name="mbID">
    <input type="text" name="mbPW">
    <input type="text" name="mbName">
    <input type="text" name="mbEmail">
    <button type="submit">제출</button>
</form>

{{>layouts/footer}}