<!-- 회원 로그인 form 작성시 주의사항
action="/member/login"
name="mem_id"
name="mem_pw"
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/login.css">
</head>
    {{>layouts/header}}
    <!-- content -->
            <form action="/member/login" method="post">
                <div id="wrapper_login">
                    <div id="content">
                        <!-- ID -->
                        <div>
                            <h3 class="join_title">
                                <label for="id"></label>
                            </h3>
                            <span class="box int_id">
                                    <input type="text" id="memId" name="mem_id"   class="int" maxlength="20" placeholder="아이디">
                                <img src="./img/id.jpg" id="id_img1" class="idImg">
                            </span>

                            <!-- PW -->
                            <div>
                                <h3 class="join_title"><label for="pswd1"></label></h3>
                                <span class="box int_pass">
                                    <input type="password" id="memPwd" name="mem_pw" action="/member/login" class="int" maxlength="20" placeholder="비밀번호">
                                    <img src="./img/pw.svg" id="pswd1_img1" class="pswdImg">
                                </span>
                            </div>

                            <!-- LOGIN BTN-->
                            <div class="btn_area1">
                                <button type="submit" id="btnJoin">
                                    <a>Login</a>
                                </button>
                            </div>
                            <!-- 회원가입 BTN-->
                            <div class="btn_area1">
                                <button type="button" id="btnJoin">
                                    <a>SignUp</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    <!-- /content -->
    {{>layouts/footer}}
    </body>
</html>