<!-- 회원 로그인 form 작성시 주의사항
action="/member/login"
name="mem_id"
name="mem_pw"
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/memberRemove.css">
    <!-- CSS -->
</head>
{{>layouts/header}}
<!-- content -->
<form action="/member/remove" method="post">
    <div class="containers">
        <div class="container1">
            <div class="box1">
                <div class="boxLeft">
                    <ul>
                        <li><a href="#myPage"> My Page</a></li>
                        <li><a href="">좋아요제품</a></li>
                        <li><a href="#memberRemove">회원탈퇴</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="box2">



                <div class="delateBox">
                    <h3 class="join_title"><label for="pswd1"></label></h3>
                    <span class="box int_pass">
                    <input type="hidden" name="mem_id" class="int" maxlength="20" >
                    <input type="password" name="mem_pw" class="int" maxlength="20" placeholder="비밀번호">
                    </span>
                </div>


                <div class="btn_area1">
                    <button type="submit" id="btnDelate">
                        <a>탈퇴</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /content -->
{{>layouts/footer}}
</body>
</html>


