<!Doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/signUp.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layouts/header}}
    <!-- content -->
    <form action="/member/create" method="post">
                <div id="wrapper_signUp">
                    <div id="content">
                        <!-- ID -->
                        <div>
                            <h3 class="join_title">
                                <label for="id"></label>
                            </h3>
                            <span class="box int_id">
                                <input type="text" id="mem_id" name="mem_id" class="int" maxlength="20" placeholder="아이디">
                            </span>
                            <p id="result"></p>
                              <!-- PW -->
                            <div>
                                <h3 class="join_title"><label for="mem_pw"></label></h3>
                                <span class="box int_pass">
                                <input type="password" id="mem_pw" name="mem_pw" class="int" maxlength="20" placeholder="비밀번호">
                            </span>
                            </div>

                            <!-- 이름 -->
                            <div>
                                <h3 class="join_title"><label for="mem_name"></label></h3>
                                <span class="box int_pass">
                                <input type="text" id="mem_name" name="mem_name" class="int" maxlength="20" placeholder="이름">
                            </span>
                            </div>

                            <!-- 이메일 -->
                            <div>
                                <h3 class="join_title"><label for="mem_email"></label></h3>
                                <span class="box int_pass">
                                <input type="text" id="mem_eamil" name="mem_email" class="int" maxlength="20" placeholder="이메일">
                            </span>
                            </div>

                            <!-- 회원가입 BTN-->
                            <div class="btn_area1">
                                <button type="submit" id="btnJoin">
                                    <div id="btn_content"><a>SignUp</a></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
    <!-- /content -->
    {{>layouts/footer}}
    <script type="text/javascript" src="/js/check.js"></script>
</body>
</html>