<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/myPage.css">


    <!-- CSS -->

    {{>layouts/header}}
    <!-- /content -->
    <div class="containers">
        <div class="container1">
            <div>
                <div class="box1">
                    <div class="boxLeft">
                        <ul>
                            <li><a href="#myPage" id="myPage"> My Page</a></li>
                            <li><a href="">좋아요 제품</a></li>
                            <li><a href="#memberRemove">회원 탈퇴</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="imgBox">
                <img src="" alt="이미지 사진">
            </div>
            <div class="type">
                <strong>DSPW</strong>
            </div>
            <div class="myBox">
                <strong>uno</strong><strong>님</strong><br>
                <p> DSPW 피부타입으로 경미한 건성과,심한 민감성, <br>비색소성, 탄력적인 피부입니다.</p>
            </div>
            <div class="a1">
                <h3>추천 성분</h3>
            </div>
            <div class="info">
                <ul>
                    <li>어린 쑥 <br> 피부진정/수분</li>
                    <li>히알루론산<br>수분 효과 </li>
                    <li>트리플 리뉴 <br>피부활력/탄력공급</li>
                </ul>
            </div>
        </div>

        <div class="container3">
            <div>
                <div class="a2">
                    <h3>모든 피부타입 분포</h3>
                </div>
                <div class="graph1">그래프 넣는 곳</div>
            </div>
            <div>
                <div class="a3">
                    <h3>바우만 설문 조사부 타입</h3>
                </div>
                <div class="graph2">그래프</div>
            </div>
        </div>
    </div>
    {{>layouts/footer}}
    </body>
    <footer>

    </footer>
</html>