<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="/css/graph.css">

    <!-- CSS -->

    {{>layouts/header}}
    <!-- /content -->
    <div class="containers">
        <div class="container1">
            <div>
                <div class="box1">
                    <div class="boxLeft">
                        <ul>
                            <li><a href="" id="myPage"> My Page</a></li>
                            <li><a href="/mypage/likeList">좋아요 제품</a></li>
                            <li><a href="/mypage/removeForm">회원 탈퇴</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="imgBox">
                <img src="./img/face1.png" alt="이미지 사진">
            </div>
            <div class="type">
                <strong>DSPW</strong>
            </div>
            <div class="myBox">
                <strong>uno</strong><strong>님</strong><br>
                <p> DSPW 피부타입으로 경미한 건성과,심한 민감성, <br>비색소성, 탄력적인 피부입니다.</p>
            </div>
            <div class="a1">
                <h3>추천 성분</h3>
            </div>
            <div class="info">
                <p><sapn>어린 쑥 <br> 피부진정/수분</sapn></p>
            </div>
        </div>

        <div class="container3">
            <div>
                <div class="a2">
                    <h3> 나의 피부 타입 </h3>
                </div>
                <div class="typImg1">
                    <div class="abcType1">
                        <h2>D</h2>
                    </div>
                    <div class="abcType2">
                        <h2>S</h2>
                    </div>
                    <ul>
                        <li><img src="/img/dry.png"></li>
                        <li><img src="/img/sensitive.png"></li>
                   </ul>
                </div>
                <div class="typImg2">
                    <div class="abcType3">
                        <h2>P</h2>
                    </div>
                    <div class="abcType4">
                        <h2>W</h2>
                    </div>
                    <ul>
                        <li><img src="/img/pigment.png"></li>
                        <li><img src="/img/wrinkle.png"></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="a3">
                    <h3>바우만 설문 조사부 타입</h3>
                </div>
                <div class="graphType1">
                    <h2>D</h2>
                </div>
                <div class="graphType2">
                    <h2>S</h2>
                </div>
                <div class="graphType3">
                    <h2>P</h2>
                </div>
                <div class="graphType4">
                    <h2>W</h2>
                </div>
                <div class="graph2">

                    <div class="graph stack1">
                        <span style="width: 75%;">75%</span>
                    </div>
                    <div class="graph stack2">
                        <span style="width: 60%;">60%</span>
                    </div>
                    <div class="graph stack3">
                        <span style="width: 25%;">25%</span>
                    </div>
                    <div class="graph stack4">
                        <span style="width: 55%;">55%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>layouts/footer}}
