<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<!--    <script src="https://unpkg.com/chart.js@3"></script>-->
<!--    <script src="https://unpkg.com/chartjs-chart-wordcloud@3"></script>-->

    {{>layouts/header}}
    <!-- /content -->
    <div id="body_wrapper"> <!--footer를 포함하여 'body_content'까지 모두 감싸는 태그-->
        <div id="body_content"> <!--footer를 제외하고 감싸는 태그-->

            <div id="container1"> <!--header,footer 제외 전체-->
                <div id="content1"> <!--상세페이지1-->
                    <div class="prd">
                        <div class="prd_img"><img src="/img/products/{{product.p_img}}"></div>
                        <div class="prd_detail">
                            <div class="p_brand">{{product.p_brand}}</div>
                            <div class="p_name">{{product.p_name}}</div>
                            <div class="p_price"><strong>{{product.p_price}}원</strong></div>
                            <div class="c_type"><p><span class="type_result">{{product.p_result}}</span></p></div>
                            <div class="heart-container">
                                {{^isLike}}<div class="heart-like-button"  id="likebtn" onclick="like({{product.p_id}})"></div>{{/isLike}}
                                {{#isLike}}<div class="heart-like-button liked"  id="likebtn" onclick="like({{product.p_id}})"></div>{{/isLike}}
                            </div>
                            <hr><br>
                            <div class="p_use">
                                <p>{{product.p_method}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content2"> <!--상세페이지2-->
                    <div class="user_type_container">
                        <div class="user_type1">
                            <div class="user_txt">
                                <div class="user_txt_2">구매자의 피부타입 분포도</div>
                            </div>
                            <div class="user_radar">
                                <!--차트가 그려질 부분-->
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>

                        <div class="user_type2">
                            <div class="user_icon">
                                <div class="i_img"><img src="/img/face1.png"></div>
                                <div class="i_txt">
                                    <div class="i_percent">지성</div>
                                    <div class="i_percent">{{detail.type_o}}%</div>
                                </div>
                            </div>
                            <div class="user_icon">
                                <div class="i_img"><img src="/img/face2.png"></div>
                                <div class="i_txt">
                                    <div class="i_percent">건성</div>
                                    <div class="i_percent">{{detail.type_d}}%</div>
                                </div>
                            </div>
                            <div class="user_icon">
                                <div class="i_img"><img src="/img/face1.png"></div>
                                <div class="i_txt">
                                    <div class="i_percent">중성</div>
                                    <div class="i_percent">{{detail.type_n}}%</div>
                                </div>
                            </div>
                            <div class="user_icon">
                                <div class="i_img"><img src="/img/face2.png"></div>
                                <div class="i_txt">
                                    <div class="i_percent">민감성</div>
                                    <div class="i_percent">{{detail.type_t}}%</div>
                                </div>
                            </div>
                            <div class="user_icon">
                                <div class="i_img"><img src="/img/face1.png"></div>
                                <div class="i_txt">
                                    <div class="i_percent">복합성</div>
                                    <div class="i_percent">{{detail.type_c}}%</div>
                                </div>
                            </div>
                        </div>

                        <div class="user_type3">
                            <div class="skin_type">
                                <div class="skin_type_title">
                                    <div class="type_txt">피부타입</div>
                                </div>
                                <div class="user_doughnut">
                                <!--차트가 그려질 부분-->
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                        <div class="skin_type">
                            <div class="skin_type_title">
                                <div class="type_txt">피부고민</div>
                            </div>
                            <div class="user_doughnut">
                            <!--차트가 그려질 부분-->
                            <canvas id="myChart3"></canvas>
                        </div>
                    </div>
                    <div class="skin_type">
                        <div class="skin_type_title">
                            <div class="type_txt">자극도</div>
                        </div>
                        <div class="user_doughnut">
                        <!--차트가 그려질 부분-->
                        <canvas id="myChart4"></canvas>
                    </div>
                </div>
            </div>


        </div>
    </div>

                <div id="content3">
                    <div class="review_container">
                        <div class="r_percentage">
                            <canvas id="myChart5"></canvas>
                        </div>
                        <div class="keyword_container">
                            <div class="keyword_box">
                                <div class="keyword_title">[긍정 키워드]</div>
                                <canvas id="myChart6"></canvas>
                            </div>
                            <div class="keyword_box">
                                <div class="keyword_title">[부정 키워드]</div>
                                <canvas id="myChart7"></canvas>
                            </div>
                        </div>
                        <div class="cloud_container">
                            <div class="word_cloud">[긍정 리뷰]
                                <div class="chart-area">
                                    <div id="container" style="width:500px; height:500px;"></div>
                                </div>
                            </div>

                            <div class="word_cloud">[부정 리뷰]
                                <div class="chart-area">
                                    <div id="container" style="width:500px; height:500px;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div> <!-- container-->


    </div> <!--footer를 제외하고 감싸는 'body_content'태그 -->
    <!-- /content -->
    <!-- <footer class="footer">
        <div id="f_content">
            <p>&COPY; 2022 Bareuda(함정재 김재혁 박소연 이도연 이윤호)</p>
        </div>
    </footer> -->

    </div><!--footer를 포함하여 'body_content'까지 모두 감싸는 태그-->

    <script src="/js/like.js"></script>
    <script src="/js/detail.js"></script>
    <script src="/js/cloud.js"></script>
    <script>
        var myChart = drawRadar([{{detail.type_o}},{{detail.type_d}},{{detail.type_n}},{{detail.type_t}},{{detail.type_c}}], 'myChart');
        var myChart2 = drawDoughnut(['건성에 좋아요','복합성에 좋아요','지성에 좋아요'],[{{detail.rskin_1}},{{detail.rskin_2}},{{detail.rskin_3}}], 'myChart2');
        var myChart3 = drawDoughnut(['보습에 좋아요','진정에 좋아요','주름/미백에 좋아요'],[{{detail.rtrouble_1}},{{detail.rtrouble_2}},{{detail.rtrouble_3}}], 'myChart3');
        var myChart4 = drawDoughnut(['자극없이 순해요','보통이에요','자극이 느껴져요'],[{{detail.rsti_1}},{{detail.rsti_1}},{{detail.rsti_1}}], 'myChart4');

    </script>

    {{>layouts/footer}}
