<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/productComparison.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/myChart.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- 워드클라우드 -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>


<style>
     html, body {
     margin: 0;
     padding: 0%;
     height: 180%;
     background-color: #F8F8F8;
}
      html{
            scroll-behavior: smooth;
        }
      section{
            width:100vw
            height: 100vh;
        }

        #s2{

        }
         #s3{

        }
</style>
    <!-- CSS -->
    {{>layouts/header}}

    <!-- /content -->



        <div class="containers">
            <div class="container1">
                <div class="research1">
                <input class="searchInput search1" type="text" placeholder="비교 제품을 입력하세요.">
               </div>
               <div class="img1">
                <img src="/img/lotion2.png" alt="제품">
              </div>
                <div class="ch_Product1">
                    <img src="/img/free-icon.png" alt="">
                    <ul>
                        <li><a href="" >이름</a></li>
                        <li><a href="" >브랜드</a></li>
                        <li><a href="" > 가격</a></li>
                    </ul>
                </div>
            </div>
            <div class="container2">
                <div class="a1">
                    <h3>제품 비교</h3>
                </div>
                <form>
                    <input id="search1" name="search1" type="hidden" value="">
                    <input id="search2" name="search2" type="hidden" value="">
                <div class="btn_area1">
                    <button type="button" id="btnComparison" onclick="return comparison()"><a>비교</a></button>
                </div></form>

            </div>

            <div class="container3">
                <div class="research2">
                    <input class="searchInput search2"  type="text" placeholder="비교 제품을 입력하세요.">
                </div>
                <div class="img2">
                    <img src="/img/lotion2.png" alt="제품">
                </div>
                <div class="ch_Product2">
                    <img src="/img/free-icon.png" alt="">
                    <ul>
                        <li><a href="" >이름</a></li>
                        <li><a href="" >브랜드</a></li>
                        <li><a href="" > 가격</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="s2">
            <a href="#">top</a>

        <!-- 2페이지-->
        <div class="containers1">
            <div class="containers1">
                <div class="container_1">
                    <div class="myChart">
                        <canvas id="myChart" style="height:70vh; width:90vw"></canvas>
                    </div>
                    <div class="myPie">
                        <canvas id="myPie" ></canvas>
                    </div>
                </div>

                <div class="container_2">
                    <div class="a2"><h3>제품별 피부타입</h3></div>
                    <div class="a3"><h3>제품 리뷰 긍정 부정률</h3></div>
                </div>
                <div class="container_3">
                    <div class="myChart1">
                        <canvas id="myChart1" style="height:70vh; width:90vw"></canvas>
                    </div>

                    <div class="myPie1">
                        <canvas id="myPie1" ></canvas>
                    </div>


                </div>
            </div>
        </div>
        </section>

        <section id="s3">
            <a href="#">top</a>

        <!-- 3페이지 -->
        <div class="containers2">
            <div class="container_4">

                <div class="a4">
                    <h3>리뷰 긍정 워드 클라우드</h3>
                </div>

                <div class="chart-area">
                    <div id="container" ></div>
                </div>
            </div>

            <div class="container_6">
                <div class="a5">
                    <h3>리뷰 부정 워드 클라우드</h3>
                </div>
                <div class="chart-area2">
                    <div id="container2" ></div>
                </div>
            </div>

        </div>
        </section>
    <script src="/js/comparison.js"></script>
    <script>
var myPie = drawPie([50,50], 'myPie');
var myPie1 = drawPie([50,50], 'myPie1');
var myChart = drawRadar([34,13,34,21,12], 'myChart');
var myChart1 = drawRadar([34,13,34,21,12], 'myChart1');
var container = drawWord(['좋아요','촉촉','수분감','산듯함','가성비'],[30,60,40,37,70], 'container');
var container2 = drawWord(['냄새','트러블','여드름','별로','민감','자극적','고민'],[30,60,45,67,43,23], 'container2');
    </script>


    <script type="text/javascript" src="/js/comparison.js"></script>
    {{>layouts/footer}}

