<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{>layouts/header}}
    <!-- /content -->
    <div id="wrapper">
        <div class="container1">
            <div class="type_result">
                <div class="type_name"><p><span class="real_name">{{sessionMember.mb_name}}</span>님의 피부타입</p></div>
                <div class="type_prd"><p><span class="real_type"><strong>{{answer.mb_result}}</strong></span> 추천제품</p></div>

                <hr class="line">
            </div>
        </div>
        <div class="container2">
            {{#products}}
            <div class="item">
                <a href="#" class="prd_img">
                    <img src="/img/products/{{p_img}}">
                </a>
                <div class="prd_content">
                    <div class="prd">
                        <a>
                            <div id="heart-container">
                                <div class="heart-like-button"  id="p{{p_id}}" onclick="generateClones({{p_id}})"></div>
                            </div>
                            <div class="c_brand"><p><span class="tx_barnd">{{p_brand}}</span></p></div>
                            <div class="c_name"><p><span class="tx_name">{{p_name}}</span></p></div>
                            <div class="c_type"><p><span class="type_result">{{p_result}}</span></p></div>
                        </a>
                    </div>
                </div>
            </div>
            {{/products}}
        </div>
    </div>
    <script type="text/javascript" src="/js/like.js"></script>

    {{>layouts/footer}}

    </body>
</html>