<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {{>layouts/header}}
    <!-- /content -->
    <div id="wrapper">
        <div class="container1">
            <div class="type_result">
                <div class="type_name"><p><span class="real_name">{{sessionMember.mb_name}}</span>님의 피부타입</p></div>
                <div class="type_prd"><p><span class="real_type"><strong>{{answer.mb_result}}</strong></span> 추천제품</p></div>
        <!-- /category 꾸며줘..........-->
        <select id="category" onchange="categorySort2(this.value);">
            <option value='전체' selected>전체</option>
            <option value='로션'>로션</option>
            <option value='크림'>크림</option>
            <option value='스킨케어세트'>스킨케어세트</option>
            <option value='스킨'>스킨</option>
            <option value='에센스'>에센스</option>
            <option value='미스트'>미스트</option>
            <option value='올인원'>올인원</option>
            <option value='오일'>오일</option>
        </select>
        <hr class="line">
            </div>
        </div>
        <!-- /category -->
        <div class="container2">
            {{#products}}
            <div class="item {{p_category}}">
                <a href="/product/detail.do?p_id={{p_id}}" class="prd_img">
                    <img src="/img/products/{{p_img}}">
                </a>
                <div class="prd_content">
                    <div class="prd">
                        <a>

                            <div class="c_brand"><p><span class="tx_barnd">{{p_brand}}</span></p></div>
                            <div class="c_name"><p><span class="tx_name">{{p_name}}</span></p></div>
                            <div class="c_type"><p><span class="type_result">{{p_result}}</span></p></div>
                        </a>
                    </div>
                </div>
            </div>
            {{/products}}
        </div>
    </div>
    <script type="text/javascript" src="/js/like.js"></script>
    <script type="text/javascript" src="/js/doyeon.js"></script>

    {{>layouts/footer}}

    </body>
</html>