<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bareuda.mapper.MemberMapper">

    <select id="memberList" resultType="com.example.bareuda.entity.Member">
        SELECT * FROM tbl_member
    </select>

    <insert id="memberInsert" parameterType="com.example.bareuda.entity.Member">
        INSERT INTO tbl_member (mb_id, mb_pw, mb_name, mb_email)
        values (#{mb_id}, #{mb_pw}, #{mb_name}, #{mb_email})
    </insert>

    <select id="memberLogin" parameterType="com.example.bareuda.entity.Member" resultType="int">
        SELECT count(*) FROM tbl_member
        WHERE mb_id = #{mb_id}
        AND mb_pw = #{mb_pw}
    </select>

    <select id="findById" parameterType="string" resultType="com.example.bareuda.entity.Member">
        SELECT mb_id, mb_pw, mb_name, mb_email FROM tbl_member
        WHERE mb_id = #{mb_id}
    </select>

</mapper>
