<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bareuda.mapper.ProductMapper">

    <select id="getRecommended" parameterType="string" resultType="com.example.bareuda.entity.Product">
        <![CDATA[
        select distinct * from tbl_products
        where (P_RESULT LIKE #{type1} or P_RESULT LIKE #{type2} or P_RESULT LIKE #{type3} or P_RESULT LIKE #{type4})
        and ROWNUM <= 21
        ]]>
    </select>

    <select id="getRecommendedCategory" parameterType="string" resultType="com.example.bareuda.entity.Product">
        <![CDATA[
        select distinct * from tbl_products
        where (P_RESULT LIKE #{type1} or P_RESULT LIKE #{type2} or P_RESULT LIKE #{type3} or P_RESULT LIKE #{type4})
        and (ROWNUM <= 21)
        and (p_category = #{category})
        ]]>
    </select>

    <select id="selectLike" parameterType="com.example.bareuda.entity.Like" resultType="com.example.bareuda.entity.Like">
        SELECT * FROM tbl_like
        WHERE P_ID = #{p_id} and MB_ID = #{mb_id}
    </select>

    <delete id = "deleteLike" parameterType="com.example.bareuda.entity.Like">
        DELETE FROM tbl_like
        WHERE P_ID = #{p_id} and MB_ID = #{mb_id}
    </delete>

    <insert id="insertLike" parameterType="com.example.bareuda.entity.Like">
        INSERT INTO tbl_like
        values (TBL_LIKE_SEQ.NEXTVAL, #{mb_id}, #{p_id})
    </insert>

    <select id="getlikeList" parameterType="string" resultType="com.example.bareuda.entity.Product">
        SELECT  * from tbl_products
        WHERE P_ID IN (select p_id from tbl_like where mb_id = #{mb_id})
    </select>


</mapper>
